body{ 
    background-color: #50497c;
    font-family: monospace;
    padding: 10px
}

/* Header */

.header{
    width: 100%;
    margin: 0px;
    padding: auto;
    padding-top: 20px;
    max-width: auto;
  
}



.header a{
    font-family: monospace;
    color: #CCC5B9; 

}

}.header a:hover{ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    block-size: 15px;
    color: #7EC4CF;
}