body{ 
    background-color: #50497c;
    font-family: monospace;
    padding: 10px
}

/* Header */

.header{
    width: 100%;
    margin: 0px;
    padding: auto;
    padding-top: 20px;
    max-width: auto;
  
}



.header a, h1, a:visited, h1:visited{
    font-family: monospace;
    color: #CCC5B9; 
    block-size: 15px;
    text-decoration: none;

}

.header a:hover, h1:hover{ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    block-size: 25px;
    color: #7EC4CF;
}

.header a:active, h1:active{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    block-size: 25px;
    color: #E6C0E9;
}

.header hr{
    border:none;
    height: 5px;
    margin: 25px 0px;
    background-color: black;
}

/* Header text inline */ 

.header{

    display: inline-block;
}
.header_Yu14{
    text-algin: left;
    Width: 25%;
}

.header_about{
    text-algin: right;
    width: 75%;
    
}
