
body{
    background-color: #291c38;
}

.main_sec{
    margin-left: auto;
    margin-right: auto;
    
}
.main_sec h1{
    color:#ffffff;
    text-align: center;
}

.main_sec p{
    color:#ffffff;
    text-align: center;
}




.boxes{
    margin-right: auto;
    margin-left: auto;
    min-width: 50vh;
    max-width: 70vh;
    border: solid;
    border-color: rgba(0, 247, 255, 0.342);
    background-color: rgba(10, 255, 243, 0.1) ;
    border-radius: 90px;
    border-width: 1px;
    padding-right: 0;
    padding: 5px;
}


.boxes input{
    min-width: 85%;
    max-width: 85%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    border-radius: 50px;
    font-size: 15px ;
}

.boxes label{
    color:#ffffff;
    padding-left: 50px;
    font-size: 25px;
    
}



.isolation{
    padding-top: 20px;
    padding-bottom: 20px;
}

