

/* Section 1 CSS */
main{ 
    width: 70vh;
    margin: auto;
    color: #ac59fa;
    text-align: center;
    min-width:40vh;
    font-family: monospace;
}


/* Inline Images Stuff*/


.inline_socials{
    object-fit: cover;
    padding-top:0px;
    padding-bottom: 0px;
    
    
}

.image{
    text-align: left;
    margin-top: 30px;
}

.text_h2 h2{
     width: 10%;
     margin-left: 93px;
}
.github{
    width: 15%;
    margin: auto auto;
}

.social_inline{
    display: inline;
}



/* END OF INLINE */

.colored a{
    color:#CCC5B9;
}
.colored a:hover{ 
    color: #e4ce0a;
}
.colored a:active{
    color:red;
}


/* HYPER LINKS */

main a{ 
    color:#ac59fa;
    text-decoration: none;
}

main a:hover{
    color:#b735fd
}


/* END OF HYPER LINKS */
/* LINES */

.lines{
    max-width: 50vh;
    border: none;
    height: 3px;
    margin: 0 auto;
    background-color: #CCC5B9;
    padding: 1px;
    border-radius: 10px;
}

.Lines_Div{
    max-width: 300px;
    border: none;
    height: 1px;
    margin: 1 auto;
    background-color: #CCC5B9;
    padding: 1px;
    border-radius: 20px;

}

/* END OF LINES */


/* START OF CONTACT FORM */
.container {
    max-width: 30vh;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#b735fd;
}

.container h1{
    text-align: center;
    margin-bottom: 25px;
}



label {
    display: block;
    margin: 10px 0 5px;
    font-size: 18px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cf7dc4;
    border-radius: 4px;
    background-color: #554eb9;
    color:#ffffff;
    font-weight: bold;
    
}

button {
    width:110%;
    padding: 10px;
    background-color: hsl(273, 64%, 44%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px auto;     
}

button:hover {
    background-color: hsl(273, 63%, 49%);
}

/* END OF CONTACT FORM*/